<div class="container">
  <div class="left-arrows">
    <div class="goFirtsPage">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16.6"
        height="16.6"
        viewBox="0 0 16.6 16.6"
        fill="none"
      >
        <path
          d="M7.61606 13.6909L2.76953 8.84766L7.61606 4.00439M13.1549 13.6909L8.30842 8.84766L13.1549 4.0044"
          stroke="#4d4d99"
          strokeWidth="1.38379"
          strokeLinecap="round"
          strokeLinejoin="round"
        />
      </svg>
    </div>

    <div class="reverse">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16.6"
        height="16.6"
        viewBox="0 0 16.6 16.6"
        fill="none"
      >
        <path
          d="M10.9258 13.6909L6.07925 8.84766L10.9258 4.00439"
          stroke="#4d4d99"
          strokeWidth="1.38379"
          strokeWidth="1.38379"
          strokeLinecap="round"
          strokeLinejoin="round"
        />
      </svg>
    </div>
  </div>
  <div class="pagers">
    <ul>
      <li><a>1</a></li>

      <li>
        <div class="currentPage"><a>2</a></div>
      </li>
      <li><a>3</a></li>
      <li>...</li>
      <li><a>4</a></li>
    </ul>
  </div>
  <div class="rigth-arrows">
    <div class="forward">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16.6"
        height="16.6"
        viewBox="0 0 16.6 16.6"
        fill="none"
      >
        <path
          d="M6.78906 3.65869L11.6356 8.50195L6.78906 13.3452"
          stroke="#4d4d99"
          strokeWidth="1.38379"
          strokeLinecap="round"
          strokeLinejoin="round"
        />
      </svg>
    </div>

    <div class="goLastPage">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16.6"
        height="16.6"
        viewBox="0 0 16.6 16.6"
        fill="none"
      >
        <path
          d="M9.09944 4.00439L13.946 8.84766L9.09944 13.6909M3.56055 4.00439L8.40708 8.84766L3.56055 13.6909"
          stroke="#4d4d99"
          strokeWidth="1.38379"
          strokeLinecap="round"
          strokeLinejoin="round"
        />
      </svg>
    </div>
  </div>
</div>
