<div class="container-table">
  <div class="row-table">
    <table class="data-table">
      <thead>
        <tr>
          <th
            *ngFor="let column of columns"
            [ngStyle]="{ minWidth: column.width }"
          >
            {{ column.title }}
          </th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of viewData">
          <td
            *ngFor="let column of columns"
            [ngStyle]="{ minWidth: column.width }"
          >
            {{ item[column.data] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagers-container">
    <div class="maxRow-selector">
      <p class="label-left">Mostrar</p>
      <select name="row-select" id="row-select">
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
      <p class="label-rigth">1 - 10 de 18</p>
    </div>
    <Paginator (page)="handlePagers($event)" />
  </div>
</div>
