<form action="">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre" placeholder="nombre" />
    <label for="apellido">Apellido:</label>
    <input type="text" name="apellido" id="apellido" placeholder="apellido" />
    <label>Email:</label>
    <input type="email" placeholder="email" />
    <label for="login">Login</label>
    <input type="text" placeholder="login" />
    <label for="password">Password</label>
    <input type="password" />
    <input type="button" name="Crear" id="crear" value="Crear" />
  </div>
</form>
